@model VendaModel
@{ 
  //List<VendaModel> vendas = ViewBag.ListaVendas;
  List<Dictionary<string, string>> DetalhesVendas = ViewBag.ListaVendas;
}
<h3 class="text-center">Listagem de Vendas</h3>
<br />
<table class="table table-responsive-md">
  <thead>
    <tr class="text-center">
      <th>Id</th>
      <th>Data</th>
      <th>Vendedor</th>
      <th>Cliente</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var venda in DetalhesVendas) {
    <tr class="text-center">
      <td>@venda["IdVenda"]</td>
      <td>@venda["DataVenda"]</td>
      <td>@venda["NomeVendedor"]</td>
      <td>@venda["NomeCliente"]</td>
      <td>@venda["TotalVenda"]</td>
    </tr>
    }

  </tbody>
</table>
<br />
<a asp-controller="Venda" asp-action="Registrar" class="btn btn-block btn-primary">Registrar nova Venda</a>