@model ProdutoModel
@{
  ViewData["Title"] = "Editar Produto";
  ProdutoModel produto = ViewBag.Produto;

}

<h3 class="text-center">Editar Produto</h3>
<br />
<form asp-controller="Produto" asp-action="Editar" method="post">

  <div class="row">
    <div class="form-group col-md-4">
      <label asp-for="Nome" for="nome">Nome: </label>
      <input asp-for="Nome" id="nome" class="form-control" value="@produto.Nome"/>
      <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
      <label asp-for="Descricao" for="descricao">Descrição: </label>
      <input asp-for="Descricao" id="descricao" class="form-control" value="@produto.Descricao"/>
      <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
      <label asp-for="PrecoUnitario" for="precounidade">Preço por unidade: </label>
      <input asp-for="PrecoUnitario" id="precounidade" class="form-control" value="@produto.PrecoUnitario" type="text"/>
      <span asp-validation-for="PrecoUnitario" class="text-danger"></span>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label asp-for="QuantidadeEstoque" for="qtdestoque">Quantidade em estoque: </label>
      <input asp-for="QuantidadeEstoque" id="qtdestoque" class="form-control" type="number" value="@produto.QuantidadeEstoque"/>
      <span asp-validation-for="QuantidadeEstoque" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
      <label asp-for="UnidadeMedida" for="unidademed">Unidade de medida: </label>
      <input asp-for="UnidadeMedida" id="unidademed" class="form-control" value="@produto.UnidadeMedida"/>
      <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
      <label asp-for="LinkFoto" for="linkfoto">Link da imagem </label>
      <input asp-for="LinkFoto" id="linkfoto" class="form-control" value="@produto.LinkFoto"/>
      <span asp-validation-for="LinkFoto" class="text-danger"></span>
    </div>

  </div>
  <div class="form-group">
    <input type="submit" value="Registrar" class="btn btn-success" />
  </div>
</form>


@section Scripts{
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />